[Unit]
Description=Run sensor monitor
After=network.target

[Service]
ExecStart=/usr/bin/python /home/pi/raspberrypi_sensor/app.py
WorkingDirectory=/home/pi/raspberrypi_sensor
Restart=always

[Install]
WantedBy=multi-user.target
