[Unit]
Description=Run sensor monitor
After=network.target

[Service]
ExecStart=/usr/bin/python /home/pi/git/raspberrypi_sensor/main.py

[Install]
WantedBy=multi-user.target
