[Unit]
Description=Run sensor monitor
After=network.target

[Service]
ExecStart=start.sh
WorkingDirectory=/home/pi/git/raspberrypi_sensor

[Install]
WantedBy=multi-user.target
